{% extends 'app/base.html' %}

{% load static %}

{% block title %}
Provider Portal
{% endblock title %}

{% block body %}

<br>
<br>
Welcome <b>{{request.user}}</b> to Provider Portal
<br>
<br>

<form action="/info" method="POST" >{% csrf_token %}
  <div class="container">
      <p>Enter the Patient ID and Scope to see the clinical information -</p>
    <div class="col">
      <input type="text" class="form-control" placeholder="Patient ID" name="ID">
    </div>
      <br>
      <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Select Scope...</option>
        <option value="1">Observation</option>
        <option value="2">Patient</option>
        <option value="3">AllergyIntolerance</option>
      </select>
    </div>
      <br>
      <div class="col">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
  </div>
</form>

<div class="container">
  <h6 align="left">Patient List -</h6>
  </br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
        </tr>
        </thead>
        {% for id,name,gender in param %}
        <tbody id="myTable">
        <tr>
            <td>{{id}}</td>
            <td>{{gender}}</td>
            <td>{{name}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock body %}