{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Patient Info
{% endblock title %}
{% block logout %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'medical.ico' %}"/>
</head>
<li class="nav-item" xmlns="http://www.w3.org/1999/html">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock logout %}
{% block body %}
<br>
<p>Patient Information</p>

<h6 align="left" class="container">You are searching for Patient ID- <b><font color="#50A3C5">{{Patient_id}}</font></b>
</h6>
<br>

<div class="container">
    <div class="row" style="width:100%;">
        <div class="col">
            <div style="height:90%;">
                <a href="/patient"><img src="{% static 'patient.png' %}" style="width:75%;"></a>
            </div>
            <p>Patient</p>
        </div>
        <div class="col">
            <div style="height:90%;">
                <a href="/observation"><img src="{% static 'observation.png' %}" width="82%"></a>
            </div>
            <p>Observation</p>
        </div>
        <div class="col">
            <div style="height:90%;">
                <a href="/practitioner"><img src="{% static 'doctor.png' %}" width="82%"></a>
            </div>
            <p>Practitioner</p>
        </div>
        <div class="col">
            <div style="height:90%;">
                <a href="/medication"><img src="{% static 'medicine.png' %}" width="82%"></a>
            </div>
            <p>Medication</p>
        </div>
    </div>
</div>

{% endblock body %}
